html {background-color: #ededed;}

main
{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1
{
	margin: 10px;
}

button
{
	border-radius: 10px;
	border: none;
	padding: 3px 5px 3px 5px;
}

button:hover
{
	background-color: #bdbdbd;
}

/* remove number spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

/* remove number spinners */
input[type="number"]
{
    -moz-appearance: textfield;
}

img
{
	width: 24px;
	height: auto;
}

img:hover
{
	background-color: #bababa;
	border-radius: 3px;
}

/* non-element styles */

#library
{
	display: flex;
	flex-wrap: wrap;

	width: 70vw;
	border: 7px solid #bdbdbd;
	background-color: #9a9a9a;
	border-radius: 10px;
	padding: 10px;
}

.book
{
	flex-grow: 1;
	position: relative;
	margin: 10px;
	border: 5px solid #bdbdbd;
	border-radius: 10px;
	padding: 10px;
	background-color: #cbcbcb;
}

.book input
{
	background-color: #bcbcbc;
	border: 1px solid #353535;
	padding: 1px;
}

.book .edit
{
	position: absolute;
	top: 5px;
	right: 30px;
}

.book.editMode > div
{
	justify-content: space-between;
}

.book .delete
{
	position: absolute;
	top: 5px;
	right: 5px;
}

.book > .title
{
	text-align: center;
	border-bottom: 1px solid #000000;
	margin: 5px;
}

.book > div
{
	display: flex;
	align-items: center;
} 

.book > .author > input,
.book > .pageNum > input
{
	width: 100px;
} 

.book > * > *:not(input):not(img)
{
	padding: 5px;
}

.book.editMode > .choose
{
	justify-content: center;
}

#addBookForm
{
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 70vw;
	margin: 10px;
	padding: 10px;

	border: 7px solid #bdbdbd;
	background-color: #9a9a9a;
	border-radius: 10px;
}

#addBookForm > #addBookFormTitle
{
	margin: 2px;
}

#addBookForm:first-child
{
	margin-bottom: 5px;
}

#addBookFormInput
{
	/* width: 300px; */
	display: flex;
	justify-content: center;	
}

#addBookFormInput > input
{
	margin: 5px;
	border-radius: 5px;
	border: 1px solid #ededed;
}

#addBookText, #addBookRadio
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px;
}

#addBookText > input
{
	margin: 2px;
}

#addBookFormInput > #text > input
{
	margin: 5px;
}

#description
{
	text-align: center;
	border-bottom: 1px solid #000000;
	padding-bottom: 5px;
	margin: 5px;
}

#bookTemplate, #editTemplate
{
	visibility: hidden;
	position: absolute;
}